.downloads {
  width: 90%;
  margin: 0 auto;
  .items {

    .item {
      width: 100%;

      .cover {
        @media (--medium) {
          lost-column: 1/4 0 8px;
          min-width: 359px;
        }
        .caption {
          a > h2 {
            color: var(--brandWhite);
          }
        }
        .coverImg {
          background-size: cover;
          background-position: center top;
          min-height: 265px;
          margin-bottom: 16px;
          @media (--medium) {
            height: 359px;
            margin-bottom: 0;
          }
        }
      }

      .playlist {
        @media (--medium) {
          lost-column: 2/5 0 8px;
        }
      }
    }
  }
}
