table {
  margin-bottom: var(--md-pad);
}

caption {
  padding: var(--sm-pad) 0;
}

thead th {
  background: var(--light-grey);
  color: var(--black);
}

tr {
  background: var(--white);
  margin-bottom: var(--sm-pad);
}

th,
td {
  border: var(--border) var(--silver);
  padding: var(--sm-pad) var(--md-pad);
  text-align: center;
  vertical-align: inherit;
}

tfoot tr {
  background: none;
}

tfoot td {
  color: var(--light-grey);
  font-size: var(--sm-pad);
  font-style: italic;
  padding: var(--md-pad) var(--xs-pad);
}
