.channelHeader {
  .channelTitle {
    color: #20172C;
    line-height: 30px;
    opacity: 0.3;
    margin: 0;
  }
}

[channel="docu-series"] {
  .item {
    .channelHeader {
      background-color: var(--channel-docu-series);
    }
    .poster {
      &:before {
        content: '';
        background-image: linear-gradient(to bottom right,#111,var(--channel-docu-series));
      }
    }
  }
}

[channel="radio-tv-film"] {
  .item {
    .channelHeader {
      background-color: var(--channel-radio-tv-film);
    }
    .poster {
      &:before {
        content: '';
        background-image: linear-gradient(to bottom right,#111,var(--channel-radio-tv-film));
      }
    }
  }
}

[channel="music"] {
  .item {
    .channelHeader {
      background-color: var(--channel-music);
    }
    .poster {
      &:before {
        content: '';
        background-image: linear-gradient(to bottom right,#111,var(--channel-music));
      }
    }
  }
}

[channel="comedy"] {
  .item {
    .channelHeader {
      background-color: var(--channel-comedy);
    }
    .poster {
      &:before {
        content: '';
        background-image: linear-gradient(to bottom right,#111,var(--channel-comedy));
      }
    }
  }
}

[channel="lifestyle"] {
  .item {
    .channelHeader {
      background-color: var(--channel-lifestyle);
    }
    .poster {
      &:before {
        content: '';
        background-image: linear-gradient(to bottom right,#111,var(--channel-lifestyle));
      }
    }
  }
}

[channel="lifestyle"],
[channel="music"],
[channel="docu-series"],
[channel="comedy"],
[channel="radio-tv-film"] {
  .item {
    .poster {
      &:before {
        position: absolute;
        top: 30px;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .6;
      }
    }
  }
}

[channel="lifestyle"] > [content] > [poster]:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#111,var(--channel-lifestyle));
  opacity: .6;
}

[channel="music"] > [content] > [poster]:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#111,var(--channel-music));
  opacity: .6;
}

[channel="docu-series"] > [content] > [poster]:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#111,var(--channel-docu-series));
  opacity: .6;
}

[channel="comedy"] > [content] > [poster]:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#111,var(--channel-comedy));
  opacity: .6;
}

[channel="radio-tv-film"] > [content] > [poster]:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#111,var(--channel-radio-tv-film));
  opacity: .6;
}
