<paper-toolbar id="featured-header" class="channelBanner {{ ::channels.channel | lowercase }}">
  <h2>
    <span>{{channels.channel}}</span>
  </h2>
</paper-toolbar>
<!-- New Tabs -->
<md-tabs class="tabs-header md-primary" md-dynamic-height md-border-bottom>
  <!-- Latest Tab -->
  <md-tab label="Latest">
    <md-card class="tab-card" flex>
      <md-card-content class="tab-content">
        <md-list layout="row" layout-sm="column" layout-fill layout-wrap>
          <md-item ng-repeat="video in channels.results | filter:search | orderBy:'-index'" class="{{::video.getText('video.channel') | lowercase}}" channel="{{::video.getText('video.channel') | lowercase}}" layout-padding-sm flex="100" flex-gt-md="50" flex-gt-lg="33">
            <md-item-content class="item">
              <div class="channelHeader" layout="row">
                <h3 class="channelTitle">{{::video.getText('video.channel')}}</h3>
              </div>
              <div class="poster" ng-style="{ 'background-image': 'url(' + video.getImageView('video.poster', 'column').url +')' }"></div>
              <div class="md-tile-content meta">
                <h2 class="title">
                  <a href="#/{{video.getText('video.channel')}}/{{video.id}}/{{video.slug}}" layout="row">
                    <span>{{::video.getText('video.title')}}</span>
                    <ng-md-icon icon="play_circle_outline" size="36" style="fill:#fff;"></ng-md-icon>
                  </a>
                </h2>
                <p class="intro">{{::video.getText('video.shortlede')}}</p>
              </div>
            </md-item-content>
            <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
            <md-divider hide-gt-sm ng-if="!$last"></md-divider>
          </md-item>
          <md-divider></md-divider>
        </md-list>
      </md-card-content>
    </md-card>
  </md-tab>
</md-tabs>
<!-- <div items horizontal layout wrap>
  <div class="animate-repeat {{video.getText('video.channel')}}" item ng-repeat="video in channels.results | limitTo:100" channel="{{video.getText('video.channel')}}">
    <div content>
      <div meta horizontal start-justified layout>
        <div class="channelName" flex self-center>{{video.getText('video.channel')}}</div>
      </div>
      <div poster ng-style="{ 'background-image': 'url(' + video.getImageView('video.poster', 'column').url +')' }"></div>
      <div caption absolute>
        <h2 title>
          <a href="#/{{video.getText('video.channel')}}/{{video.id}}/{{video.slug}}" horizontal layout>
            <span flex self-center>{{video.getText('video.title')}} </span>
            <core-icon class="play-icon" icon="av:play-circle-outline" self-center></core-icon>
          </a>
        </h2>
        <div intro>
          <a href="#/{{video.getText('video.channel')}}/{{video.id}}/{{video.slug}}">{{video.getText('video.shortlede')}}</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
