<section class="home">
  <paper-toolbar id="featured-header" class="dark-background">
    <h2>
      <span>Featured Video</span>
      <span></span>
    </h2>
  </paper-toolbar>
  <section class="featured-video">
    <div class="videogular-container">
      <videogular vg-player-ready="home.onPlayerReady($API)">
        <vg-media vg-src="home.config.sources" vg-youtube="rel=0;showinfo=0"></vg-media>

        <vg-controls vg-autohide="home.config.autoHide" vg-autohide-time="home.config.autoHideTime">
          <vg-play-pause-button></vg-play-pause-button>
          <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
          <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
          </vg-volume>
          <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>

        <vg-overlay-play></vg-overlay-play>
        <vg-poster vg-url='home.config.plugins.poster'></vg-poster>
        <div class="logo-layer" ng-show="home.API.currentState != 'play'">
          <img src="assets/images/logos/logo-red.svg">
        </div>
      </videogular>
    </div>
  </section>
  <!-- New Tabs -->
  <md-tabs class="tabs-header md-primary" md-dynamic-height md-border-bottom>
    <!-- Latest Tab -->
    <md-tab label="Latest">
      <md-card class="tab-card" flex>
        <md-card-content class="tab-content">
          <h2 class="label" layout-padding-sm>Latest Videos</h2>
          <md-list layout="row" layout-sm="column" layout-fill layout-wrap>
            <md-item ng-repeat="video in ::home.results track by video.id | filter:search | orderBy:'-index'" class="velocity-transition-slideUpIn {{::video.getText('video.channel') | lowercase}}" data-velocity-opts="{ stagger: 350 }" channel="{{::video.getText('video.channel') | lowercase}}" layout-padding-sm flex="100" flex-gt-md="50" flex-gt-lg="33">
              <md-item-content class="item">
                <div class="channelHeader" layout="row">
                  <h3 class="channelTitle">{{::video.getText('video.channel')}}</h3>
                </div>
                <div class="poster" ng-style="{ 'background-image': 'url(' + video.getImageView('video.poster', 'column').url +')' }"></div>
                <div class="md-tile-content meta">
                  <h2 class="title">
                    <a href="#/{{::video.getText('video.channel')}}/{{::video.id}}/{{::video.slug}}" layout="row">
                      <span>{{::video.getText('video.title')}}</span>
                      <ng-md-icon icon="play_circle_outline" size="48" style="fill:#fff;"></ng-md-icon>
                    </a>
                  </h2>
                  <p class="intro">
                    <a href="#/{{::video.getText('video.channel')}}/{{::video.id}}/{{::video.slug}}" layout="row">
                      {{::video.getText('video.shortlede')}}</p>
                    </a>
                </div>
              </md-item-content>
              <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
              <md-divider hide-gt-sm ng-if="!$last"></md-divider>
            </md-item>
            <md-divider></md-divider>
          </md-list>
          <!-- <button class="loadmore" href="#" ng-class="nextPageDisabledClass()"
          ng-click="loadMore()">Load More</button> -->
        </md-card-content>
      </md-card>
    </md-tab>
  </md-tabs>
</section>
