@import url(http://fonts.googleapis.com/css?family=Lato:300,500,400,700|Open+Sans:300,400,700|Oswald:400,700|Roboto+Condensed:400,300,700|Raleway:400,300,500,600,800,900,700);

@import 'base/_variables.css';
@import 'base/_sanitize.css';
@import 'base/_typography.css';
@import 'base/_config.css';
@import 'base/_html.css';
@import 'base/_media.css';
@import 'components/_forms.css';
@import 'components/_buttons.css';
@import 'components/_navigation.css';
@import 'components/_sidebar.css';
@import 'components/_itemlist.css';
@import 'components/_videogular.css';
@import 'components/_videoplayer.css';
@import 'components/_tables.css';
@import 'components/_layout.css';
@import 'components/_loading.css';
@import 'modules/_channels.css';
@import 'modules/_featured-video-section.css';

/* Polymer styles */
img {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
/* TODO: these colors should come from paper-styles/default-theme.html
once Polymer/polymer#1415 is fixed. */
paper-drawer-panel #drawer {
  position: fixed!important;
  background-color: #212121!important;
  z-index: 3;
  border-right: 1px solid #1a1a1a;
}

paper-drawer-panel::shadow #drawer {
  background-color: #3f51b5;
  /*border-right: 1px solid #ccc;*/
}

paper-drawer-panel[right-drawer] #drawer {
  /*border-left: 1px solid #ccc;*/
  border-right: none;
}
paper-drawer-panel[right-drawer]::shadow #drawer {
  /*border-left: 1px solid #ccc;*/
  border-right: none;
}

paper-drawer-panel #main  { background-color: #1a1a1a }
paper-drawer-panel::shadow #main { background-color: #1a1a1a; }

button {
  width: 160px;
  height: 40px;
  font-size: 16px;
  margin: 8px;
}

paper-toolbar + paper-toolbar {
  margin-top: 20px;
}
iron-icon:not(:last-child) {
  margin-right: 8px;
}

#drawer-toolbar,
#mainToolbar {
  background-color: #212121;
}

#drawer-toolbar {
  width: 100%;
  height: 150px
}

#drawer-toolbar .toolbar-tools.paper-toolbar {
  height: 150px;
  padding: 0;
}

#drawer-toolbar iron-image {
  height: 150px;
}

#drawer paper-menu {
  padding-top: 0;
  background-color: #212121;
  color: #ecf0f1;
}

#drawer paper-menu paper-item {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #1a1a1a;
}

#drawer paper-menu .iron-selected {
  border: none;
}

.drawer-footer {
  background-color: #1a1a1a;
  position: relative;
  bottom: 0;
  padding: 5px;
  margin: 5px;
}

.tabs-header.md-default-theme.md-primary md-tab-item:not([disabled]).md-active, home .tabs-header.md-default-theme.md-primary md-tab-item:not([disabled]).md-focus {
  color: #ecf0f1;
  font-size: 22px;
}

/* Test Styles */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[ui-view] {
  position: absolute;
  width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


body {
  position: relative;
  color: #ecf0f1;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 300;
  background-color: #111;
  box-sizing: border-box;
  min-height: 100%;
}

a {
  color: var(--brandRed);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.splash {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 150px;
}

.brand-name {
  color: var(--brandWhite);
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 300;
  padding-top: 0;
  padding-bottom: 0;

  span {
    color: #c0392b;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
  }
}

.content {
  position: relative;
}

nav {
  padding: 0;
}
.menu {
  background-color: #212121;
  color: #ecf0f1;
  list-style-type: none;
  padding: 0;
  margin-top: 0;


  li {
    display: block;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #1a1a1a;
    &:hover {
      background-color: #1a1a1a;
    }
    &.active {
      background-color: #1a1a1a;
    }
    a {
      color: #ecf0f1;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {

      }
    }
  }
}

#featured-header,
#page-header {
  background-color: #1a1a1a;
  color: #ecf0f1;

  h2 {
    font-weight: 300;
    text-transform: uppercase;
  }
}

.dark-background {
  background-color: #1a1a1a;
  color: #ecf0f1;
}

.canvas {
  overflow: visible;
}

[main] {
  position: relative;
  display: block;
  height: 100vh;
}

#tabsContent {
  background: #212121;
}

#selectionBar.paper-tabs {
  background-color: var(--brandRed)!important;
}

#tab-content {
  padding: 4px;

  .label {
    color: var(--brandWhite);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;

    span {
      color: var(--brandRed);
    }
  }
}

videogular vg-poster, [videogular] vg-poster {
  img {
    width: 100%;
  }
}

/* Spinner */
.loader,
.loader:before,
.loader:after {
  background: #FFF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 8em auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}

.tab-card.md-default-theme {
  margin: 0;
  border-radius: 0;
}

.tab-card.md-default-theme .tab-content {
  padding: 4px;
}

.loadmore {
  background-color: var(--brandRed);
  color: var(--brandWhite);
  font-size: 18px;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0 4px;
  border: 0;
}
