<section class="search">
  <paper-toolbar id="page-header" class="videoTitle dark-background">
    <h2 ng-if="search.q.length < 1">Oops!!! Something's not right!</h2>
    <h2 ng-if="search.q.length > 1">Here's {{search.searchResults.length}} videos that match the search results for "{{search.q}}"</h2>
  </paper-toolbar>

  <section ng-if="search.q.length < 1">
    <div class="animate-repeat">
      <div content>
        <h2 self-center>Sorry but you didn't search for anything! Try your search again!</h2>
      </div>
    </div>
  </section>

  <div class="items horizontal layout wrap" ng-if="search.q.length > 1">
    <div class="item" ng-repeat="video in search.searchResults | limitTo:21">
      <div class="search-thumb">
        <img ng-src="{{video.getImageView('video.poster', 'icon').url}}" alt=""/>
      </div>
      <div class="caption" flex style="margin-left:10px;">
        <h2>{{video.getText('video.title')}}</h2>
        <p>{{video.getText('video.shortlede')}}</p>
        <a style="display:block;" href="#/{{video.getText('video.channel')}}/{{video.id}}/{{video.slug}}">View Video</a>
      </div>
    </div>
    </div>
  </div>
</section>
