@import '../../styles/styles.css';
@import '../../common/styles/item-grid.css';

search {
	.section-header {
    h3 {
      font-size: calc(20/16)rem;
      font-weight: 400;

      @media (--medium) {
        font-size: calc(32/16)rem;
      }
    }
    h2 {
      font-size: calc(22/16)rem;
      font-weight: 300;
      text-transform: uppercase;

      @media (--medium) {
        font-size: calc(36/16)rem;
      }

      &.docu-series {
        color: var(--channel-docu-series);
      }
      &.radio-tv-film {
        color: var(--channel-radio-tv-film);
      }
      &.music {
        color: var(--channel-music);
      }
      &.comedy {
        color: var(--channel-comedy);
      }
      &.lifestyle {
        color: var(--channel-lifestyle);
      }
    }
  }
}
