<section class="featured-video">
  <div class="embed">
    <youtube-video video-id="vm.youtubeID" player-vars="vm.playerVars"></youtube-video>
  </div>
  <!-- <div class="videogular-container" ng-show="!$root.client_ios">
    <videogular
      vg-player-ready="vm.onPlayerReady($API)"
      vg-update-state="vm.onUpdateState($state)"
      vg-auto-play="vm.config.autoPlay">
      <vg-media
        vg-src="vm.config.sources"
        vg-preload="vm.config.preload"
        vg-youtube="rel=0;showinfo=0;autoplay=1;mute=1">
      </vg-media>

      <vg-controls
        vg-autohide="vm.config.autoHide"
        vg-autohide-time="vm.config.autoHideTime">
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
        <vg-volume>
          <vg-mute-button></vg-mute-button>
          <vg-volume-bar></vg-volume-bar>
        </vg-volume>
        <vg-fullscreen-button></vg-fullscreen-button>
      </vg-controls>

      <vg-analytics vg-track-info="vm.config.plugins.analytics"></vg-analytics>
      <vg-poster vg-url='vm.config.plugins.poster'></vg-poster>
      <vg-buffering></vg-buffering>
      <vg-overlay-play></vg-overlay-play>
    </videogular>
  </div> -->
</section>
